{% extends "base.html" %}

{% block bar_analytics %}class="nav-link active" {% endblock %}

{% block content %}
<div class="container">

    <h3 class="h2 my-3">Аналитика выполнения событий:</h3>
    <div class="container">
        <canvas id="myChart" width="600" height="600"></canvas>
    </div>
    <script type=text/javascript>
        var chart_data = JSON.parse("{{ chart_data|escapejs }}");
    </script>
    {% load static %}
    <script src="{% static 'chart.js' %}" type=text/javascript></script>

</div>
{% endblock %}